:root {
    --primary-color: #0061FF;
    --primary-color-light: #B4D0E7;
    --base-fontsize: 1.1rem;
    --max-fontsize: 5rem;
    --min-space: 1.9rem;
    --mid-space: 2rem;
    --space-col-business: 2rem;
}

/*  
    controllare una volta finito l'esecizio:
    - prova ad usare di piu le variabili 
    - controlla di non aver ripetuto troppi valori simili, nel caso cerca di raggrupparli meglio
    -
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav  a {
    text-decoration: none;
    padding: 1.5rem;
    color: black;
    font-size: var(--base-fontsize);
}

.btn {
    margin-right: 1.5rem;
    padding: .4rem .8rem;
    border: none;
    color: white;
    background-color: var(--primary-color);
    font-size: 1rem;
}

.btn-white {
    color: black;
    background-color: white;
    border: 1px solid black;
}

#hero-section {
    background-color: var(--primary-color-light);
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-xl {
    max-width: 1200px;
    padding-top: 100px;
}

.container-s {
    width: 900px;
    margin-top: 100px;
}

h1 {
    font-size: var(--max-fontsize);
}

.col-container {
    display: flex;
    padding-top: 50px;
}

.col-text {
    width: 30%;
    font-size: var(--base-fontsize);
}

.col-text button {
    margin: var(--min-space) 0;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.arrow-down {
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 3rem;
}

.col-img {
    width: 70%;
}

#hero-section {
    margin-bottom: 80px;
}

#hero-section .col-img {
    margin-bottom: -80px;
}

#hero-section img {
    width: 100%;
}

h2 {
    font-size: calc(var(--max-fontsize) - 2.5rem);
    padding-top: 30px;
    margin-bottom: 70px;
}

.billing {
    display: inline-block;
    margin-right: 45px;
    margin-bottom: 60px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.column {
    flex-basis: 33%;
    min-height: 100%;
}

.border-column{
    border: 1px solid lightgray;
}

.logo-title {
    align-items: center;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: .7rem 0;
}

.desciption-plan, .or-text {
    padding: var(--space-col-business) 1.5rem;
}

.info-price {
    font-weight: bold;
}

.info-price, .period {
    font-size: 0.8rem;
}

.period {
    color: grey;
}

.bottom-sec {
    margin-bottom: 20px;
}

.offer {
    margin-top: var(--space-col-business);
}

.offer .icon-text{
    display: flex;
}

.icon-text .icon {
    padding-right: 10px;
}

.icon-text .color {
    color: #0061FF;
}

.offer div, .title-price h3, .title-price div, .cont-sx h3 {
    padding-bottom: 10px;
}

.column button {
    margin-top: var(--space-col-business);
}

.column button, .cont-dx button {
    width: 100%;
    padding: 0.8rem 0;
}

.column .link {
    margin-top: 40px;
}

.line {
    height: 50px;
    width: 23%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 60px;
}

.orizontal-col {
    margin-top: 60px;
    min-height: 100%;
}

.orizontal-col .or-text {
    display: flex;
}

.or-text .cont-sx {
    width: 75%;
    flex-grow: 1;
}

.cont-sx p {
    margin-top: 60px;
}

.cont-dx {
    width: 25%;
}

.img-partner img {
    width: 100%;
}

.text-partner {
    padding: 3rem;
    width: 40%;
}

.text-partner h3 {
    margin-bottom: 20px;
}

.cards-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-row img {
    width: 100%;
}

.cards-row h3 {
    margin-bottom: 20px;
}

.cards-row .column {
    flex-basis: calc(33% - 1rem);
}

.team-container{
    display: flex;
    margin-top: 50px;
}

.section-cont {
    margin-top: 100px;
    border: 1px solid red;
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.section-cont .box {
    border: 1px solid blue;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.section-cont .box svg {
    width: 50%;
    height: auto;
    columns: white;
}


.section-title {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: var(--primary-color-light);
}

.section-title .col-container {
    padding: 0;
}

.section-title .col-text {
    align-items: flex-start;
    padding: 0;
}

.section-title .col-text button {
    margin: 0;
    min-width: 80%;
}

.section-title h2 {
    color: #61082B;
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
}

footer .col {
    flex-grow: 1;
    min-height: 100%;
}

footer .col-large {
    width: 15%;
}

footer .col-large span {
    color: white;
}

footer hr {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.secondary-footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.dropdown-menu div {
    padding-right: 30px;
}

.container-s .dropdown-menu:last-child {
    margin-bottom: 150px;
}

.border-t, .border-t-b{
    border-top: 1px solid black;
}

.border-b, .border-t-b {
    border-bottom: 1px solid black;
}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-links li a {
    font-size: .9rem;
    display: inline-block;
    padding: .4rem 0;
    text-decoration: none;
    color: white;
}

footer .col-large img {
    max-width: 100%;
    padding: 0.5rem;
}

#lenguage {
    padding: 70px 0;
    margin-top: 100px;
    border-top: 1px solid gray;
    width: 120px;
    height: 150px;
    color: gray;
}

