:root {
    --primary-color: #0061FF;
    --primary-color-light: #B4D0E7;
    --base-fontsize: 1.1rem;
    --max-fontsize: 5rem;
    --min-space: 1.9rem;
    --mid-space: 2rem;
    --space-col-business: 2rem;
}

/*  
    controllare una volta finito l'esecizio:
    - prova ad usare di piu le variabili 
    - controlla di non aver ripetuto troppi valori simili, nel caso cerca di raggrupparli meglio
    -
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav  a {
    text-decoration: none;
    padding: 1.5rem;
    color: black;
    font-size: var(--base-fontsize);
}

.btn {
    margin-right: 1.5rem;
    padding: .4rem .8rem;
    border: none;
    color: white;
    background-color: var(--primary-color);
    font-size: 1rem;
}

.btn-white {
    color: black;
    background-color: white;
    border: 1px solid black;
}

#hero-section {
    background-color: var(--primary-color-light);
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-xl {
    max-width: 1200px;
    padding-top: 100px;
}

.container-s {
    width: 900px;
    margin-top: 100px;
}

h1 {
    font-size: var(--max-fontsize);
}

.col-container {
    display: flex;
    padding-top: 50px;
}

.col-text {
    width: 30%;
    font-size: var(--base-fontsize);
}

.col-text button {
    margin: var(--min-space) 0;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.arrow-down {
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 3rem;
}

.col-img {
    width: 70%;
}

#hero-section {
    margin-bottom: 80px;
}

#hero-section .col-img {
    margin-bottom: -80px;
}

#hero-section img {
    width: 100%;
}

h2 {
    font-size: calc(var(--max-fontsize) - 2.5rem);
    padding-top: 30px;
    margin-bottom: 70px;
}

.billing {
    display: inline-block;
    margin-right: 45px;
    margin-bottom: 60px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.column {
    flex-basis: 33%;
    min-height: 100%;
}

.border-column{
    border: 1px solid lightgray;
}

.logo-title {
    align-items: center;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: .7rem 0;
}

.desciption-plan, .or-text {
    padding: var(--space-col-business) 1.5rem;
}

.info-price {
    font-weight: bold;
}

.info-price, .period {
    font-size: 0.8rem;
}

.period {
    color: grey;
}

.bottom-sec {
    margin-bottom: 20px;
}

.offer {
    margin-top: var(--space-col-business);
}

.offer .icon-text{
    display: flex;
}

.icon-text .icon {
    padding-right: 10px;
}

.icon-text .color {
    color: #0061FF;
}

.offer div, .title-price h3, .title-price div, .cont-sx h3 {
    padding-bottom: 10px;
}

.column button {
    margin-top: var(--space-col-business);
}

.column button, .cont-dx button {
    width: 100%;
    padding: 0.8rem 0;
}

.column .link {
    margin-top: 40px;
}

.line {
    height: 50px;
    width: 23%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 60px;
}

.orizontal-col {
    margin-top: 60px;
    min-height: 100%;
}

.orizontal-col .or-text {
    display: flex;
}

.or-text .cont-sx {
    width: 75%;
    flex-grow: 1;
}

.cont-sx p {
    margin-top: 60px;
}

.cont-dx {
    width: 25%;
}

.img-partner img {
    width: 100%;
}

.text-partner {
    padding: 3rem;
    width: 40%;
}

.text-partner h3 {
    margin-bottom: 20px;
}

.cards-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-row img {
    width: 100%;
}

.cards-row h3 {
    margin-bottom: 20px;
}

.cards-row .column, footer .column {
    flex-basis: calc(33% - 1rem);
}

.team-section {
    margin-top: 100px;
    
    
}

.team-section .side-section:last-child {
    
}

.team-section, .side-section {
    display: flex;
}

.side-section {
    flex-grow: 1;
    flex-wrap: wrap;
}

.section-c {
    flex-grow: 1;
    padding: 3rem;
    background-color: #F5F5F5;
}

.section-c img {
    filter: brightness(0);
}

.section-c .line{
    width: 120px;
}

.section-c p {
    padding-bottom: 40px;
}

.logo-team {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    height: 50%;
    width: 50%;
}

.logo-team img {
    width: 150px;
    filter: brightness(1);
    align-items: center;
    object-fit: contain;
}

footer .row {
    padding: 1rem;
}

.green {
    background-color: #A2D39B;
}

.dark-red {
    background-color: #61082B;
}

.blue {
    background-color: #0093CE;
}

.light-red {
    background-color: #FF1C1C;
}

.red {
    background-color: #D5001F;
}

.light-blue {
    background-color: #B4D0E7;
}

.dark-blue {
    background-color: #0D2481;
}

.yellow {
    background-color: #FFD830;
}



#lenguage {
    border-top: 1px gray;
    width: 150px;
}

